DATABASE_URL="postgresql://johndoe:randompassword@localhost:5433/mydb?schema=public"
JWT_SECRET="super-secret-key-change-me"
SMTP_HOST="smtp.mailtrap.io"
SMTP_PORT=2525
SMTP_USER="your-smtp-user"
SMTP_PASS="your-smtp-pass"
FRONTEND_URL="http://localhost:4200"
PORT=3000
